.detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}


/* BoardDetail 아이템 스타일 */
.item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.date, .content {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}
